<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="{{ image('img/lila.png', 40, 0, 70, 'ico') }}"
    />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ asset('css/lila.css') }}" />
  </head>
  <body>
    <main class="container">
      <div class="flex justify-center mt-4">
        <article class="w-mx-400-px">
          {{ translate("welcome") }}
          <h1>Login</h1>
          <img
            src="{{ image('img/lila.png', 200) }}"
            width="200"
            alt="Img webp"
          />

          <form onsubmit="Login(event)" method="POST">
            {{ csrf_input() }}
            <div>
              <label>Email</label>
              <input type="email" name="email" required />
            </div>
            <div>
              <label>Password</label>
              <input type="password" name="password" required />
            </div>
            <button type="submit" class="w-full">Login</button>
          </form>
          <div id="messages" class="mt-4"></div>
        </article>
      </div>
      <div class="mt-4 flex justify-between gap-4 container">
        <a href="/set-lang/?lang=eng">English</a>
        <a href="/set-lang/?lang=esp">Español</a>
        <a href="/set-lang/?lang=br">Portuguese</a>
      </div>
    </main>
    <script>
      async function Login(event) {
        event.preventDefault();
        const body = Object.fromEntries(new FormData(event.target)) || {};
        const r = await fetch("/login", {
          method: "POST",
          body: JSON.stringify(body),
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": body._csrf,
          },
          credentials: "include",
        });
        if (!r.ok) {
          const responseError = await r.json();
          document.getElementById("messages").innerHTML =
            responseError.html || responseError.message || "";
          return;
        }
        const response = await r.json();
      }
    </script>
  </body>
</html>
